<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />
</head>
<style>

</style>
<body>
	<div id="wrapper">
		<section id="section_form_mensaje" class="section-bg-color">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title" style="margin: 0 auto 18px;font-family: 'Audrey' !important;font-size: 70px;">Yvanna <span style="font-family: 'Mylestock' !important;font-size: 70px;">+</span> Alfonso</h1>
					</div>
				</div>
				<div class="row" id="">
					<div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2  col-xxl-6 offset-xxl-3">
						<div class="form-wrapper flowers neela-style">
							<div class="about-us-desc col-lg-8 offset-lg-2 animate-from-bottom animation-from-bottom" data-animation-direction="from-bottom" data-animation-delay="300">
								<h4 style="margin-bottom:10px;font-family: 'Playfair Display' !important;">{$nombre}</h4>
								<p>{$mensaje}</p>
								<small style="font-family: 'Audrey' !important;font-size: 2.1em;">{$firma}</small>
								<h2 class="section-title" style="margin: 0 auto 00px !important;"></h2>
								<img src="{$_layoutParams.ruta}images/logo-yellow-two.png" alt="Celebremos.pe" width="110px">
							</div>
							<span class="h-lines"></span><span class="v-lines"></span>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>